.footer {
  margin-top: 80px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 36px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);

  &__logo {
    filter: grayscale(1);
  }

  &__links {
    a {
      color: #748296;
      text-decoration: none;
    }
  }
}
